@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* common */
body {
  font-family: "Pretendard", sans-serif;
  line-height: 1.5;
  word-break: keep-all;
}

/* input styles  */
@layer utilities {
  .shared-input {
    @apply bg-background text-fontWhite px-4 py-[10px] min-h-[45px] border-[1px] border-labelStrong rounded-md focus:outline-primaryHeavy;
  }

  .shared-input-gray {
    @apply bg-fillLight text-fontWhite px-4 py-[10px] min-h-[45px] rounded-md  focus:outline-fontWhite;
  }

  .shared-input-gray-2 {
    @apply bg-fillNormal text-fontWhite px-4 py-[10px] min-h-[45px] rounded-md  focus:outline-fontWhite;
  }

  /* select styles */
  .shared-select {
    @apply bg-background text-fontWhite px-4 py-[10px] min-h-[45px] border-[1px] border-labelStrong  p-2 rounded-md  focus:outline-primaryHeavy;
  }

  .shared-select-gray {
    @apply bg-fillLight text-fontWhite px-4 py-[10px] min-h-[45px] rounded-md  focus:outline-fontWhite;
  }

  .shared-select-gray-2 {
    @apply bg-fillNormal text-fontWhite px-4 py-[10px] min-h-[45px] rounded-md  focus:outline-fontWhite;
  }
}

/* button styles  */
@layer utilities {
  /* button - green */
  .shared-button-green {
    @apply text-labelAlternative bg-primary px-4 py-[10px] min-h-[45px] flex items-center justify-center rounded-md font-baseBold transition-colors duration-300 hover:bg-primaryStrong;
  }

  /* button - gray  */
  .shared-button-gray {
    @apply text-fontWhite bg-fillLight px-4 py-[10px] min-h-[45px] flex items-center justify-center rounded-md font-baseBold transition-colors duration-300 hover:bg-fillNeutral;
  }

  /* button - black */
  .shared-button-black {
    @apply text-fontWhite bg-fillStrong px-4 py-[10px] min-h-[45px] flex items-center justify-center rounded-md  font-baseBold transition-colors duration-300 hover:bg-black;
  }

  /* button - white */
  .shared-button-white {
    @apply text-fillStrong bg-fontWhite px-4 py-[10px] min-h-[45px] flex items-center justify-center rounded-md  font-baseBold transition-colors duration-300 hover:bg-white;
  }

  /* button - outline */
  .shared-button-outline {
    @apply text-primary border-[1px] border-primary px-4 py-[10px] min-h-[45px] flex items-center justify-center rounded-md  font-baseBold transition-colors duration-300 hover:bg-primary hover:text-labelAlternative;
  }

  /* button - tab */
  .tab-button {
    @apply flex items-center justify-center px-3 py-2 text-baseS rounded-[12px]  text-primary bg-fillStrong hover:bg-black  transition-opacity;
  }

  /* button - circle */
  .circle-button {
    @apply p-[10px] rounded-full flex items-center justify-center bg-primary text-labelAlternative hover:bg-primaryHeavy transition-colors duration-300;
  }
  .circle-button-gray {
    @apply p-[10px] rounded-full flex items-center justify-center bg-fillLight hover:bg-fillNeutral text-fontWhite transition-colors duration-300;
  }

  /* button - square small */
  .square-button-small {
    @apply flex items-center justify-center w-[45px] h-[45px] rounded-lg bg-fillLight hover:bg-fillNeutral text-white;
  }

  /* button - square */
  .square-button {
    @apply bg-fillLight text-labelNormal w-[80px] h-[80px] p-[10px] flex items-center justify-center rounded-md font-baseBold transition-colors duration-300 m-1;
  }
  .square-button:hover {
    @apply text-labelAlternative;
  }
  .square-button.square-button-default:hover {
    @apply bg-primary;
  }
  .square-button.button-ios:hover {
    @apply bg-accentPurple;
  }
  .square-button.button-android:hover {
    @apply bg-accentRed;
  }
  .square-button.button-pm:hover {
    @apply bg-accentColumbia;
  }
  .square-button.button-planner:hover {
    @apply bg-accentPink;
  }
  .square-button.button-marketer:hover {
    @apply bg-accentYellow;
  }
  .square-button.button-frontend:hover {
    @apply bg-primaryStrong;
  }
  .square-button.button-backend:hover {
    @apply bg-accentOrange;
  }
  .square-button.button-designer:hover {
    @apply bg-accentMaya;
  }
  .square-button.button-devops:hover {
    @apply bg-accentMint;
  }

  /* button - google  */
  .shared-button-google {
    @apply text-labelAlternative bg-white min-w-[303px] px-4 py-[10px] flex items-center justify-center rounded-md  font-baseBold transition-transform duration-300 hover:shadow-lg;
  }

  /* button - kakao */
  .shared-button-kakao {
    @apply text-labelAlternative bg-[#FEE500] min-w-[303px] px-4 py-[10px] flex items-center justify-center rounded-md  font-baseBold transition-transform duration-300 hover:shadow-lg;
  }

  /* button - github */
  .shared-button-github {
    @apply text-fontWhite bg-[#24292F] min-w-[303px] px-4 py-[10px] flex items-center justify-center rounded-md  font-baseBold transition-transform duration-300 hover:shadow-lg;
  }
}

/* label styles*/
@layer utilities {
  .label {
    @apply flex flex-col items-center justify-center text-baseXs px-[12px] py-[5px] rounded-[20px] border transition-opacity;
  }
  .label-default {
    @apply border-labelAlternative text-labelNeutral bg-fillNormal;
  }
  .label-primary {
    @apply border-primary text-primary bg-fillNormal;
  }
  .label-secondary {
    @apply border-labelAlternative text-primary bg-fillLight;
  }
}

/* Disabled-Modal */
.page-disabled {
  pointer-events: none;
  user-select: none;
}

.modal-content {
  pointer-events: auto;
  user-select: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
