.ql-container.ql-snow .ql-editor::before {
  color: #919191;
}

.ql-toolbar .ql-formats button.ql-active {
  color: #c3e88d;
}

.ql-toolbar .ql-size .ql-picker-item[data-value="small"]::before {
  content: "Small";
}
.ql-toolbar .ql-size .ql-picker-item[data-value="large"]::before {
  content: "Large";
}
.ql-toolbar .ql-size .ql-picker-item[data-value="huge"]::before {
  content: "Huge";
}
.ql-toolbar .ql-size .ql-picker-item::before {
  content: "Normal";
}

.ql-toolbar .ql-picker-label::before,
.ql-toolbar .ql-picker-item::before {
  color: inherit;
}
