.fc-viewChanger-button.fc-button.fc-button-primary {
  background-image: url("../../../../../public/Calender/Change.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  padding: 15px;
}

.fc .fc-button-primary {
  background-color: transparent;
  border: none;

  :hover {
    background-color: transparent;
  }
}
