/* 전체 캘린더 영역에 대한 설정 */
.fc {
  background-color: #141415;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

/* 헤더 영역에 대한 설정 */
.fc h2.fc-toolbar-title {
  font-size: 20px;
}

.fc-viewChanger-button.fc-button.fc-button-primary {
  background-image: url("../../../../../public/Calender/Change.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  padding: 15px;
  margin-right: 1px;
}

.fc .fc-header-toolbar.fc-toolbar {
  padding-bottom: 14px;
  border-bottom: 1px solid #5e5e5e;
  margin-bottom: 14px;
}

.fc .fc-header-toolbar button {
  background-color: transparent;
  border: 0px;
  margin: -10px;
  padding: 3px;
}

/* 아이콘 hover 시 primary color */
.fc .fc-header-toolbar button:hover {
  background-color: #c3e88d;
}

.fc .fc-icon {
  color: #919191;
}

/* Grid View 에 대한 설정 */
.fc table.fc-scrollgrid,
.fc td,
.fc th {
  border: 0;
}

.fc table div.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  position: relative;
  height: 100%;
}

.fc table .fc-daygrid-day-top,
.fc table .fc-daygrid-day-events {
  display: flex;
  justify-content: center;
}

.fc table .fc-daygrid-day-events {
  top: 0;
}

.fc .fc-daygrid-day-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #96d738;
}

.fc table.fc-col-header {
  margin-bottom: 14px;
}

.fc .fc-day-today.fc-daygrid-day {
  color: #b0db43;
  background-color: transparent;
}

/* Popover 창에 대한 설정 */
.fc .fc-popover.fc-more-popover.fc-day {
  background-color: #323334;
}

/* list View 에 대한 설정 */
.fc .fc-list-event-dot {
  border-color: #b0db43;
  margin-top: 3px;
  border-width: 25px 1.5px;
}

.fc .fc-list-day-cushion.fc-cell-shaded {
  background-color: #141415;
}

.fc .fc-listMonth-view.fc-view.fc-list.fc-list-sticky,
.fc table.fc-list-table {
  border: 0;
}

.fc .fc-scroller.fc-scroller-liquid:-webkt-scrollbar {
  display: none;
}

.fc .fc-scroller.fc-scroller-liquid {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 커스텀 캘린더 설정 */
.custom_calender .fc .fc-scrollgrid-section-body table {
  height: 100px !important;
}

.custom_calender .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  background: green;
  position: absolute;
  top: 0;
}

.custom_calender .fc .fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  height: 40px;
}
